<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="../../assets/logo.svg" alt="logo">
    </a>
    <div class="input">
      <input type="text">
    </div>
    <div class="header-items">
      <button type="button" class="cart">
        <img src="../../assets/cart.svg" alt="cart">
      </button>

      <button type="button" class="menu" (click)="showFiller = true">
        <img src="../../assets/Menu.svg" alt="menu">
      </button>
      <div *ngIf="showFiller" class="menu-drawer">
        <div class="menu-container">
          <div class="menu-header">
            <div class="language">
              <button class="RU">RU</button>
              <span>/</span>
              <button class="EN">EN</button>
            </div>
            <button class="cart">
              <img src="../../assets/cart-dark.svg" alt="cart">
            </button>
            <button class="close" type="button" (click)="showFiller = false">
              <img src="../../../../assets/close.svg" alt="close">
            </button>
          </div>
          <div class="categorys">
            <a class="category" href="">ROAD SERIES</a>
            <a class="category" href="">STREET SERIES</a>
            <a class="category" href="">MOUNTAIN SERIES</a>
          </div>
          <div class="links">
            <a class="link" href="">Новости</a>
            <a class="link" href="">О нас</a>
            <a class="link" href="">Контакты</a>
          </div>
          <div class="social-links">
            <a href="">
              <img src="" alt="inst">
            </a>
            <a href="">
              <img src="" alt="facebook">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <img src="../../assets/Menu.svg" alt="menu">
      </button>
    </div>

  </mat-drawer-container> -->
</header>

