<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="../../../assets/logo.svg" alt="logo">
    </a>
    <div class="input">
      <input type="text">
    </div>
    <div class="header-items">
      <button type="button" class="cart">
        <img src="../../../assets/cart.svg" alt="cart">
      </button>

      <button type="button" class="menu" (click)="showFiller = !showFiller">
        <img src="../../../assets/Menu.svg" alt="menu">
      </button>
    </div>
    <div
      *ngIf="showFiller"
      class="menu-drawer"
      [@exit]="state"
      >
      <div class="menu-container">
        <div class="menu-header">
          <div class="language">
            <button class="RU">RU</button>
            <span>/</span>
            <button class="EN">EN</button>
          </div>
          <button class="cart">
            <img src="../../../assets/cart-dark.svg" alt="cart">
          </button>
          <button class="close" type="button" (click)="showFiller = !showFiller">
            <img src="../../../assets/close.svg" alt="close">
          </button>
        </div>
        <div class="categorys">
          <div class="category">
            <a href="">ROAD SERIES</a>
          </div>
          <div class="category">
            <a href="">STREET SERIES</a>
          </div>
          <div class="category">
            <a href="">MOUNTAIN SERIES</a>
          </div>
        </div>
        <div class="links">
          <div class="link">
            <a href="">Новости</a>
          </div>
          <div class="link">
            <a  href="">О нас</a>
          </div>
          <div class="link">
            <a  href="">Контакты</a>
          </div>
        </div>
        <div class="social-link">
          <a href="">
            <img src="../../../assets/social-dark.svg" alt="social">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <img src="../../assets/Menu.svg" alt="menu">
      </button>
    </div>

  </mat-drawer-container> -->
</header>

